html, body {margin: 0; height: 100%; overflow: hidden}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page {
  position: fixed;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  overflow: scroll;
  border-radius: 10px;
}

.Text {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Section {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 2px;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  box-sizing: border-box;
}

.Title {
  font-size: 50px;
  padding-bottom: 5px;
  font-weight: 700;
}

.TitleMiddle {
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: 700;
}

.Description {
  font-size: 20px;
  font-weight: 300;
}

.DescriptionMiddle {
  font-size: 18px;
  font-weight: 300;
}

.PictureWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Picture {
  border-radius: 10px;
  width: 50%;
  height: 50vh;
  background-color: #abacaa;
}

.SectionStart {
  background-color: #1EC95B;
}

.SectionMiddle {
  color: #151b21;
  font-weight: 300;
  font-size: 30px;
  background-color: #fafafa;
}

.SectionEnd {
  background-color: #f8416e;
  font-weight: 700;
  font-size: 50px;
}