.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SectionFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 2px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.Title {
  color: #151b21;
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: 700;
}

.TitleBottom {
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: 700;
}

.Description {
  color: #151b21;
  font-size: 18px;
  font-weight: 300;
}

.DescriptionBottom {
  font-size: 18px;
  font-weight: 300;
}

.PictureWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Yo {
  width: 30px;
  margin-right: 10px;
}

.Picture {
  border-radius: 10px;
  width: 40%;
  height: 50vh;
  object-fit: cover;
}

.Icon {
  padding: 10px 0;
  width: 200px;
}

.SectionMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 2px;
  height: 80vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #fafafa;
}

.SectionEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 2px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: #fff;
  background-color: #77B254;
  font-weight: 700;
}