html, body {margin: 0; height: 100%; overflow: hidden}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page {
  position: fixed;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  overflow: scroll;
  border-radius: 10px;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.Section {
  color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.5;
  letter-spacing: 2px;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);

}

.CompanyName {
  font-size: 50px;
  padding-bottom: 10px;
}

.Description {
  font-size: 25px;
  font-weight: 300;
}

.PictureWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Picture {
  border-radius: 10px;
  width: 50%;
  height: 50vh;
  background-color: #abacaa;
}

.SectionStart {
  background-color: #1EC95B;
}

.SectionMiddle {
  color: #404040;
  font-weight: 300;
  font-size: 25px;
}

.SectionEnd {
  background-color: #f8416e;
  font-weight: 700;
  font-size: 50px;
}